<div class="container">
  <p id="notice"><%= notice %></p>
<div class="">
<article class="">
  
  <div class="title is-1">
    <%= @article.title %>
  </div>

  <div class="container">
    <div class="box" id="index-box" >
        <div class="media">
          <div class="media-content">
             <figure class="image is-96x96">
              <%= (link_to gravatar_for(@article.user), user_path(@article.user)) if @article.user %>
            </figure>
          </div>
            <div class="content">
                <p class="title is-4">
                  <%= link_to(@article.user.username, user_path(@article.user)) if @article.user%>
                </p>
                <strong clss="title is-2">
                  <%= pluralize(@article.user.articles.count, 'article') if @article.user.articles %>
                </strong>
            </div>
        </div>
    </div>
  </div>

  <div class="">
  <%= @article.body %>
  </div>
</article>
</div>
<% if logged_in? && current_user == @article.user %>
  <div class="button is-warning" id="btn">
    <%= link_to 'Edit this article', edit_article_path(@article) %>
  </div>
  <div class="button is-danger" id="btn">
    <%= link_to 'Delete this article',article_path ,method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
<div class="button is-light" id="btn">
  <%= link_to 'Back to the list', articles_path %>
</div>