<p id="notice"><%= notice %></p>
<div class="container" id='user-show' >
<div>
  <!-- Imge -->
  <article class="media">
    <div class="media-content">
      <figure class="image is-128x128">
        <%= gravatar_for @user %>
      </figure>
    </div>
    <!-- Contentn -->
    <div class="media-right">
      <div class="content">
        <div>   
          <p class="title is-2"><%= @user.username %></p>
          <p><%= @user.email %></p>
          <p><%= time_ago_in_words(@user.created_at)%> ago </p>     
        </div>
      </div>
    </div>
  </article>
</div>
<hr>
<%# Pagination %>
<%= will_paginate @user_article, renderer: BulmaPagination::Rails %>                
<%# End %>
<% @user.articles.each do |article| %>
<div class="message">
    <div class="message-header">
    <p>
      <strong> <%= article.title%></strong> <small>@johnsmith</small> <small>31m</small>  
    </div>
    <div class="message-body">
      <%= article.body %>      
      <br>
      <br>
      <%= article.created_at %>
    </p>
    </div> 
<!-- Buttons-->
<div class="buttons are-small">
  <!--Edit-->  
  <button class="button is-warning" style="margin-left:25px; margin-bottom: 15px;">
    <%= link_to 'Edit', edit_article_path %> 
  </button>  
  <!--Back-->
  <button class="button is-dark" style="margin-bottom: 15px;">
    <%= link_to 'Back', article_path, class:"has-text-white" %>
  </button>
</div>
</div>
<% end %>
</div>



